<!doctype html>
<html>
    <head>
      {% if title %}
      <title>Estimage &mdash; {{ title }}</title>
      {% else %}
      <title>Estimage</title>
      {% endif %}
    </head>
    <body>
        <div>
          Estimage: <a href="{{ url_for("main.tree_view") }}">Tree view</a>
          {% if authenticated_user %}
          Logged in as {{ authenticated_user.get_id() }}
          {% else %}
          <a href="{{ url_for("main.login") }}">Login</a>
          {% endif %}
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
