{% extends "general_retro.html" %}

{% block content %}
<div class="container-md">
    <h2>Velocity</h2>
    <div class="row">
    <p>
        <ul>
	    <li>Velocity fit: {{ "%.02g, 𝜎 = %.02g" % (summary.weekly_velocity_mean, summary.weekly_velocity_stdev) }} </li>
        </ul>
    </p>
    <p>
    <img src="{{ head_url_for('vis.visualize_velocity_fit') }}" alt="Overall velocity"/>
    </p>
    </div>

    <div class="row">
{% block completion %}
    <h2>Completion</h2>
    <p>
    	Projection of completion
    </p>
    <p>
    Estimated time of delivery - between {{ "%.2g" % summary.weekly_completion[0] }} to {{ "%.2g" % summary.weekly_completion[1] }} weeks from now.
    </p>
    <p>
    <img src="{{ head_url_for('vis.visualize_completion') }}" alt="Completion projection"/>
    </p>
{% endblock completion %}
    </div>
</div>
{% endblock content %}
