{% extends "base.html" %}

{% import "utils.j2" as utils %}

{% block content %}
<div class="container">
    <div class="row">
    <h1>Overview</h1>
    {{ utils.task_metadata(epic) | indent(4) }}
    </div>
    <div class="row">
    <div class="col">
    <h2>Burndown</h2>
    <p>
        Total epic SP waiting to be completed at start of the sprint: {{ initial_todo }}
    </p>
    <p>
        Last recorded data:
        <ul>
            <li>TODO: {{ last_record.todo }}</li>
            <li>In Progress / needs review: {{ last_record.underway }}</li>
            <li>Done: {{ last_record.done }}</li>
        </ul>
    </p>
    <p>
    <img src="{{ url_for('vis.visualize_epic_burndown', epic_name=epic.name, size="normal") }}" alt="Epic Burndown"/>
    </p>
    </div>
    <div class="col">
    <h2>Velocity</h2>
    <p>
        <ul>
	    {% if total_days_while_working %}
            <li>Average weekly when there was work: {{ "%.02g" % (total_points_done / total_days_while_working * 7) }}</li>
	    {% endif -%}
            <li>Average weekly across the whole period: {{ "%.02g" % (total_points_done / total_days_in_period * 7) }}</li>
        </ul>
    </p>
    <p>
    <img src="{{ url_for('vis.visualize_velocity', epic_name=epic.name) }}" alt="Epic velocity"/>
    </p>
    </div>
    </div>
    <div class="row">
    <ul>
    <h3>Subtasks</h3>
    <p>
        <ul>
        {% for d in epic.dependents %}
	{{ utils.render_whatever_retro(d, model, today) }}
        {% endfor %}
        </ul>
    </p>
    </div>
</div>
{% endblock %}

