{% extends "base.html" %}

{% import "utils.j2" as utils %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<div class="container">
    <h1>Estimate</h1>
    <h2>{{ task.title }}</h2>
    <div>State: {{ task.state  }}</div>
    <h3>Description</h3>
    <div>{{ (task.description | safe) or "No description" }}</div>
    <h2>Estimates</h2>
    <div class="row">
    <div class="col">
    <h3>Authoritative values</h3>
    <p>
        <p>Point cost: {{ task.point_cost }}</p>
        <p>Time cost: {{ task.time_cost }}{% if task.TIME_UNIT %} {{ task.TIME_UNIT }} -{% endif %}</p>
	{% if "authoritative" in forms %}
        {{ render_form(forms["authoritative"], action=url_for("main.move_consensus_estimate_to_authoritative", task_name=task.name)) }}
	{% endif %}
    </p>
    </div>
    <div class="col">
    <h3>Concensus values</h3>
    <p>
	{% if consensus.expected %}
        <p>Point cost: {{ "%.3g" % consensus.expected }}</p>
	{% endif %}
	{% if task.time_cost %}
        <p>Time cost: {{ task.time_cost }}{% if task.TIME_UNIT %} {{ task.TIME_UNIT }} -{% endif %}</p>
	{% endif %}
	{% if "consensus" in forms %}
        {{ render_form(forms["consensus"], action=url_for("main.move_issue_estimate_to_consensus", task_name=task.name)) }}
	{% endif %}
    </p>
    </div>
    <div class="col">
    <h3>Our values</h3>
    <h4>Estimate</h4>
    {{ render_form(forms["estimation"], action=url_for("main.estimate", task_name=task.name)) }}
    {%- if estimate %}
    <p>
        <p>Point expected value: {{ "%.3g" % estimate.expected }}</p>
        <p>Point stdev: {{ "%.3g" % estimate.sigma }}</p>
    </p>
    <img src="{{ url_for('main.visualize_task', task_name=task.name) }}" alt="PERT prob density function for {{ task.name }}"/>
    </div>
    </div>
    {%- if similar_sized_tasks %}
    <h4>Tasks of similar sizes</h4>
    <p>
    <ul>
    {%- for t in similar_sized_tasks %}
    <li>{{ utils.task_link(t)}} &mdash; {{ "%.3g, 𝜎 = %.2g" % (t.point_estimate.expected, t.point_estimate.sigma) }}</li>
    {%- endfor %}
    </ul>
    </p>
    {%- endif %}
    {%- endif %}
</div>
{% endblock %}
