{% extends base %}

{% import "utils.j2" as utils %}
{% from 'bootstrap5/form.html' import render_form %}


{% macro task_authoritative() -%}
{% set time_cost_is_relevant = task.time_cost -%}
{% set point_cost_is_relevant = task.point_cost or not time_cost_is_relevant -%}
{% if point_cost_is_relevant -%}
	<p>Point cost: {{ task.point_cost }}</p>
{%- endif -%}
{% if time_cost_is_relevant -%}
	<p>Time cost: {{ task.time_cost }}{% if task.TIME_UNIT %} {{ task.TIME_UNIT }} {%- endif %}</p>
{%- endif -%}
{%- endmacro %}


{% macro estimation_form_in_accordion(estimate_exists) -%}
<div class="accordion" id="accordionEstimation">
<div class="accordion-item">
	<h4 class="accordion-header" id="accordionHeading">
		<button class="accordion-button {{- " collapsed" if estimate_exists }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEstimation" aria-expanded="{{ "false" if estimate_exists else "true" }}" aria-controls="collapseEstimation">
			{{ "Modify" if estimate_exists else "Create" }} the estimate
		</button>
	</h4>
	<div id="collapseEstimation" class="accordion-collapse collapse {{- " show" if not estimate_exists }}" aria-labelledby="accordionHeading" data-bs-parent="#accordionEstimation">
		<div class="accordion-body">
			{{ render_form(forms["estimation"], button_map={"submit": "primary", "delete": "danger"}, action=url_for("main.estimate", task_name=task.name)) }}
		</div>
	</div>
</div>
</div>
{%- endmacro %}


{% block content %}
<div class="container">
    <div class="row">
    <h1>Estimate</h1>
    {{ utils.task_metadata(task) | indent(4) }}
    <h2>Estimates</h2>
    <div class="row">
        <div class="col">
	{%- if context.estimation_source == "none" %}
        <p>Point estimate: {{ utils.render_precise_estimate(task.point_cost) }}</p>
	{%- else %}
        <p>Point estimate: {{ utils.render_estimate(context.estimation) }}</p>
	{%- endif %}
	{%- if context.estimation_source == "own" %}
        <p>The estimate is based on your personal estimate that is not visible to others.</p>
	{%- endif %}
	{%- if context.estimation_source == "global" %}
        <p>The estimate is based on the consensus estimate.</p>
	{%- endif %}
	{%- if context.estimation_source == "none" %}
        <p>The estimate is based on the data from the issue tracker.</p>
	{%- endif %}
	{%- if context.estimate_status == "duplicate" %}
        <p>Your personal estimate and consensus are the same. Remove the redundant personal estimate.</p>
	{%- elif context.estimate_status == "contradictory" %}
        <p>Your personal estimate is different than the global consensus, and overrides it for you.</p>
	{%- endif %}
        </div>
        <div class="col">
        <img src="{{ url_for('vis.visualize_task', task_name=task.name, nominal_or_remaining='nominal') }}" alt="PERT prob density function for {{ task.name }}"/>
        </div>
    </div>
    <div class="row">
    <div class="col">
    <h3>Authoritative values</h3>
    <p>
        {{ task_authoritative() | indent(8) -}}
        {% if "authoritative" in forms -%}
        {{ render_form(forms["authoritative"], action=url_for("main.move_consensus_estimate_to_authoritative", task_name=task.name)) }}
        {%- endif %}
    </p>
    </div>
    <div class="col">
    <h3>Consensus values</h3>
	{% if context.global_estimate_exists %}
	<p>Point cost: {{ utils.render_estimate(context.global_estimate) }}</p>
	{% endif %}
	{% if "consensus" in forms %}
        {{ render_form(forms["consensus"], button_map={"submit": "primary", "delete": "danger"}, action=url_for("main.move_issue_estimate_to_consensus", task_name=task.name)) }}
	{% endif %}
    </div>
    <div class="col">
    <h3>Our values</h3>
        {{ estimation_form_in_accordion(context.own_estimation_exists) }}
    </div>
    </div>
    {%- if similar_sized_targets %}
        {{ utils.render_similar_sized_tasks(similar_sized_targets[:8]) }}
    {%- endif %}
</div>
{% endblock %}
