{% extends "general_retro.html" %}

{% import "utils.j2" as utils with context %}

{% block content %}
<div class="container-md">
{% block retrospective_content %}
    <h1>Tree View</h1>
    <h2>Epics</h2>
    <div class="row">
    <h3>WIP</h3>
{% block epics_wip %}
    <ul>
    {% for card in cards -%}
    {% if card.status not in (6, 7) %}
    {{ utils.render_epic_retro(card, model, today, recursive=false) }}
    {% endif %}
    {% endfor -%}
    </ul>
{% endblock %}
    </div>
    <h3>Done</h3>
    <div class="row">
    <ul>
    {% for card in cards -%}
    {% if card.status in (6, 7) %}
    {{ utils.render_epic_retro(card, model, today, recursive=false) }}
    {% endif %}
    {% endfor -%}
    </ul>
    </div>
{% endblock retrospective_content %}
</div>
{% endblock content %}
