{% extends "general_plan.html" %}

{% import "utils.j2" as utils %}

{% block content %}
<div class="container">
    <div class="row">
    <h1>Tree View</h1>
        <div class="col">
    <h2>Remaining</h2>
    <p>
        Grand total: {{ utils.render_estimate(model.remaining_point_estimate) }}
    </p>
    <p>
    <img src="{{ url_for('vis.visualize_task', task_name='.', nominal_or_remaining='remaining') }}" alt="PERT prob density function for everything"/>
    </p>
        </div>
        <div class="col">
    <h2>Nominal</h2>
    <p>
        Grand total: {{ utils.render_estimate(model.nominal_point_estimate) }}
    </p>
    <p>
    <img src="{{ url_for('vis.visualize_task', task_name='.', nominal_or_remaining='nominal') }}" alt="PERT prob density function for everything"/>
    </p>
        </div>
    </div>
    <div class="row">
    <ul>
    {% for target in targets | sort(attribute="name") -%}
    {{ utils.render_whatever(target, model) }}
    {% endfor -%}
    </ul>
    </div>
</div>
{% endblock %}
