{% extends "base.html" %}

{% import "utils.j2" as utils %}

{% block content %}
<div class="container-md">
    <div class="row">
    <h1>Tree View</h1>
    <div class="col">
    <h2>Burndown</h2>
    <p>
        Total SP waiting to be completed at start of the sprint: {{ initial_todo }}
    </p>
    <p>
        Last recorded data:
        <ul>
            <li>TODO: {{ last_record.todo }}</li>
            <li>In Progress / needs review: {{ last_record.underway }}</li>
            <li>Done: {{ last_record.done }}</li>
        </ul>
    </p>
    <p>
    <img src="{{ url_for('main.visualize_burndown', epic_name='.') }}" alt="Overall Burndown"/>
    </p>
    </div>
    <div class="col">
    <h2>Velocity</h2>
    <p>
        <ul>
            <li>Average weekly when there was work: {{ "%.02g" % (total_points_done / total_days_while_working * 7) }}</li>
            <li>Average weekly across the whole period: {{ "%.02g" % (total_points_done / total_days_in_period * 7) }}</li>
        </ul>
    </p>
    <p>
    <img src="{{ url_for('main.visualize_velocity', epic_name='.') }}" alt="Overall velocity"/>
    </p>
    </div>
    </div>
    <div class="row">
    <ul>
    {% for target in targets -%}
    {{ utils.render_whatever_retro(target, model) }}
    {% endfor -%}
    </ul>
    </div>
</div>
{% endblock %}
