{% from 'bootstrap5/utils.html' import render_icon %}

{% macro render_whatever_retro(target, model, today, recursive=true) %}
{% if target.dependents %}
{{ render_epic_retro(target, model, today, recursive) }}
{% else %}
{{ render_task(target, model) }}
{% endif %}
{% endmacro %}

{% macro render_epic_retro(epic, model, today, recursive=true) %}
    <li>
        {{ epic_link(epic, "main.view_epic_retro") }} &mdash; {{ epic.title }}
        <div class="container-md">
           <div class="row">
              <div class="col">

        <p>
        {{ state_to_string(epic.state) }}, {{ "%.2g" % model.remaining_point_estimate_of(epic.name).expected }} points remaining.
        </p>
        <p>
	Owner:
        {%- if epic.assignee -%}
	{{ " " ~ epic.assignee }}
        {%- else -%}
	{{ " nobody" }}
        {%- endif %}
        </p>
        {% if epic.status_summary -%}
        <p>
	Summary
        {%- if epic.status_summary_time -%}
	{{ " " ~ (today - epic.status_summary_time).days }} days old
        {%- endif -%}
	: {{ epic.status_summary | safe }}</p>
        {%- endif %}
        {% if recursive -%}
        {% for target in epic.dependents %}
        <ul>
            {{- render_whatever_retro(target, model, today, recursive=recursive) -}}
        </ul>
        {% endfor %}
        {%- endif %}

              </div>
              <div class="col">
    <img src="{{ url_for('main.visualize_burndown', epic_name=epic.name, size="small") }}" alt="Epic Burndown"/>
              </div>
           </div>
        </div>
    </li>
{% endmacro %}

{% macro render_whatever(target, model, recursive=true) %}
{% if target.dependents %}
{{ render_epic(target, model, recursive=recursive) }}
{% else %}
{{ render_task(target, model) }}
{% endif %}
{% endmacro %}

{% macro task_link(task) -%}
        <a href="{{ url_for("main.view_task", task_name=task.name) }}">{{ task.name }}</a>&nbsp;<a href="https://issues.redhat.com/browse/{{ task.name }}" rel="external">{{ render_icon("box-arrow-up-right") }}</a>
{%- endmacro %}

{% macro epic_link(epic, endpoint="main.view_epic") -%}
        <a href="{{ url_for(endpoint, epic_name=epic.name) }}">{{ epic.name }}</a>&nbsp;<a href="https://issues.redhat.com/browse/{{ epic.name }}" rel="external">{{ render_icon("box-arrow-up-right") }}</a>
{%- endmacro %}

{% macro render_state_short(state) -%}
        <span class="state.style_class">state.shortcut</span>
{%- endmacro %}

{% macro render_state(state) -%}
        <span class="state.style_class">state.name</span>
{%- endmacro %}

{% macro render_task_basic(task, model) -%}
        {{ task_link(task) }} &mdash; <span class="task-state">{{ state_to_string(task.state) }}</span><span class="task-points {{- " uncounted_points" if model and model.get_element(task.name).masked }}">{{ "%.2g" % task.point_cost }}</span><span class="d-inline-block text-truncate" style="max-width: 350pt;">{{ task.title }}</span>
{%- endmacro %}

{% macro render_task(task, model) %}
        <li>
        {{- render_task_basic(task, model) -}}
        </li>
{% endmacro %}

{% macro render_epic_basic(epic) %}
        {{ epic_link(epic) }} &mdash; {{ epic.title }}
{% endmacro %}

{% macro render_epic(epic, model, recursive=true) %}
        <li>
        {{ render_epic_basic(epic) }}
        <p>
        Left to do: {{ "%.3g" % model.nominal_point_estimate_of(epic.name).expected }}, i.e. {{ "%.2g %%" % (model.nominal_point_estimate_of(epic.name).expected / model.nominal_point_estimate.expected * 100) }} of the whole
        </p>
        {% if recursive -%}
        <ul>
            {% for target in epic.dependents %}
            {{- render_whatever(target, model, recursive=recursive) -}}
            {% endfor %}
        </ul>
        {%- endif %}
        </li>
{% endmacro %}

{% macro render_estimate(estimate, unit="") -%}
	{{ "{expected:.3g}{unit_with_space}, 𝜎 = {sigma:.2g}{unit_with_space}".format(
		expected=estimate.expected, sigma=estimate.sigma, unit_with_space=" " ~ unit) }}
{%- endmacro %}


{% macro task_metadata(task) -%}
<h2>{{ task.title }}</h2>
<div>State: {{ task.state  }}</div>
<h3>Description</h3>
<div>{{ (task.description | safe) or "No description" }}</div>
{%- endmacro %}


{% macro render_similar_sized_tasks(similar_sized_tasks, similar_sized_targets) -%}
    <div class="row">
    <h4>Tasks of similar sizes</h4>
    <p>
    <ul>
    {%- for index in range(similar_sized_tasks | length) %}
    <li>{{ render_task_basic(similar_sized_targets[index], None) }}: {{ render_estimate(similar_sized_tasks[index].nominal_point_estimate) }}</li>
    {%- endfor %}
    </ul>
    </p>
    </div>
{%- endmacro %}


{% set states_table = {
    State.todo: "To Do",
    State.in_progress: "In Progress",
    State.review: "Needs Peer Review",
    State.done: "Done",
    State.abandoned: "Abandoned",
} %}


{% macro state_to_string(state) -%}
    {{ states_table.get(state, "Unknown") }}
{%- endmacro %}
