{% macro render_whatever_retro(target) %}
<li>
{% if target.dependents %}
{{ render_epic_retro(target) }}
{% else %}
{{ target.title }} {{ target.status }}
{% endif %}
</li>
{% endmacro %}

{% macro render_epic_retro(epic) %}
        {{ epic_link(epic, "main.view_epic_retro") }} &mdash; {{ epic.title }}
            {% for target in epic.dependents %}
        <ul>
            {{ render_whatever_retro(target) }}
        </ul>
            {% endfor %}
{% endmacro %}

{% macro render_whatever(target, model) %}
<li>
{% if target.dependents %}
{{ render_epic(target, model) }}
{% else %}
{{ render_task(target, model) }}
{% endif %}
</li>
{% endmacro %}

{% macro task_link(task) -%}
        <a href="{{ url_for("main.view_task", task_name=task.name) }}">{{ task.name }}</a>
{%- endmacro %}

{% macro epic_link(epic, endpoint="main.view_epic") -%}
        <a href="{{ url_for(endpoint, epic_name=epic.name) }}">{{ epic.name }}</a>
{%- endmacro %}

{% macro render_state_short(state) -%}
        <span class="state.style_class">state.shortcut</span>
{%- endmacro %}

{% macro render_state(state) -%}
        <span class="state.style_class">state.name</span>
{%- endmacro %}

{% macro render_task_basic(task) -%}
        {{ task_link(task) }} &mdash; <span class="d-inline-block text-truncate" style="max-width: 350pt;">{{ task.title }}</span>
{%- endmacro %}

{% macro render_task(task, model) %}
        {{ render_task_basic(task) }} {{ task.status }}
{% endmacro %}

{% macro render_epic(epic, model) %}
        {{ epic_link(epic) }} &mdash; {{ epic.title }}
        Cumulative estimates: {{ "%.3g" % model.point_estimate_of(epic.name).expected }} sigma = {{ "%.3g" % model.point_estimate_of(epic.name).sigma }}
            {% for target in epic.dependents %}
        <ul>
            {{ render_whatever(target, model) }}
        </ul>
            {% endfor %}
{% endmacro %}

{% macro render_estimate(estimate, unit="") -%}
	{{ "{expected:.3g}{unit_with_space}, 𝜎 = {sigma:.2g}{unit_with_space}".format(
		expected=estimate.expected, sigma=estimate.sigma, unit_with_space=" " ~ unit) }}
{%- endmacro %}


{% macro task_metadata(task) -%}
<h2>{{ task.title }}</h2>
<div>State: {{ task.state  }}</div>
<h3>Description</h3>
<div>{{ (task.description | escape) or "No description" }}</div>
{%- endmacro %}


{% macro render_similar_sized_tasks(similar_sized_tasks, similar_sized_targets) -%}
    <div class="row">
    <h4>Tasks of similar sizes</h4>
    <p>
    <ul>
    {%- for index in range(similar_sized_tasks | length) %}
    <li>{{ render_task_basic(similar_sized_targets[index]) }}: {{ render_estimate(similar_sized_tasks[index].point_estimate) }}</li>
    {%- endfor %}
    </ul>
    </p>
    </div>
{%- endmacro %}
