{% macro render_whatever(target, model) %}
<li>
{% if target.dependents %}
{{ render_epic(target, model) }}
{% else %}
{{ render_task(target, model) }}
{% endif %}
</li>
{% endmacro %}

{% macro task_link(task) -%}
        <a href="{{ url_for("main.view_task", task_name=task.name) }}">{{ task.name }}</a>
{%- endmacro %}

{% macro epic_link(epic) -%}
        <a href="{{ url_for("main.view_epic", epic_name=epic.name) }}">{{ epic.name }}</a>
{%- endmacro %}

{% macro render_state_short(state) -%}
        <span class="state.style_class">state.shortcut</span>
{%- endmacro %}

{% macro render_state(state) -%}
        <span class="state.style_class">state.name</span>
{%- endmacro %}

{% macro render_task_basic(task) -%}
        {{ task_link(task) }} &mdash; <span class="d-inline-block text-truncate" style="max-width: 200px;">{{ task.title }}</span>
{%- endmacro %}

{% macro render_task(task, model) %}
        {{ render_task_basic(task) }} {{ task.status }}
{% endmacro %}

{% macro render_epic(epic, model) %}
        {{ epic_link(epic) }} &mdash; {{ epic.title }}
        Cumulative estimates: {{ "%.3g" % model.point_estimate_of(epic.name).expected }} sigma = {{ "%.3g" % model.point_estimate_of(epic.name).sigma }}
            {% for target in epic.dependents %}
        <ul>
            {{ render_whatever(target, model) }}
        </ul>
            {% endfor %}
{% endmacro %}

{% macro render_estimate(estimate, unit="") -%}
	{{ "{expected:.3g}{unit_with_space}, 𝜎 = {sigma:.2g}{unit_with_space}".format(
		expected=estimate.expected, sigma=estimate.sigma, unit_with_space=" " ~ unit) }}
{%- endmacro %}
