{% extends "base.html" %}

{% import "utils.j2" as utils %}


{% block content %}
<div class="container">
    <div class="row">
    <h1>Workloads</h1>
    {% for name in all_persons %}
    {% set workload = simple.of_person(name) %}
    <h2>{{ name }}</h2>
    <p>
    Expected work potential: {{ ("%i&nbsp;%%" % (simple.persons_potential[name] * 100)) | safe }}
    </p>
    <div class="col">
    <h2>Simple distribution of work</h2>
    Proportion of the work: {{ "%.2g" % workload.points }}
    <ul>
    {% for epic in (workload.targets | sort(attribute="name")) %}
    <li>{{ utils.epic_link(epic) }} &mdash; {{ "%.2g" % workload.point_parts[epic.name] }} &nbsp; pts., {{ "%i" % (100 * workload.proportions[epic.name]) }} &nbsp; %</li>
    {% endfor %}
    </ul>
    </div>
    {% if optimized %}
    {% set workload = optimized.of_person(name) %}
    <div class="col">
    <h2>Equalized distribution of work</h2>
    <p>
    Proportion of the work: {{ "%.2g" % workload.points }}
    </p>
    <ul>
    {% for epic in (workload.targets | sort(attribute="name")) %}
    <li>{{ utils.epic_link(epic) }} &mdash; {{ "%.2g" % workload.point_parts[epic.name] }} &nbsp; pts., {{ "%i" % (100 * workload.proportions[epic.name]) }} &nbsp; %</li>
    {% endfor %}
    </ul>
    </div>
    {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}
